@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box !important;
    font-family: "Montserrat", sans-serif;

}

body,
html {
    overflow-x: hidden !important;
}

:root {
    --purple-text-color: #44406B;
    --purple-text-dark: #050033;
    --purple-text-dark2: #252339;
    --border-secondary-color: #DEDEE0;
    --button-primary-bg: #1D1852;
    --button-primary-bg-green: #2b8687;
    --button-primary-bg-white: #fcfcfc;
    --text-blue: #1264A3;
    --bg-light-blue: #ebeef5;
    --border-gray-color: #DFDEDE;

}

.ac-header-logo {
    width: 50px;
    height: auto;
}

.ac-header-menu-text {
    color: var(--purple-text-color)
}

.ac-navlink-border {
    border-color: var(--purple-text-dark) !important;
    color: var(--purple-text-dark) !important;
    border-left-width: 8px !important;
}

.text-purple {
    color: var(--purple-text-color);
}

.text-purple-dark {
    color: var(--purple-text-dark)
}

.text-blue {
    color: var(--text-blue);
}

.fs-10 {
    font-size: 0.75rem !important;
}

.fs-6 {
    font-size: 1rem !important;
}

.fs-7 {
    font-size: 0.95rem !important;
}

.fs-8 {
    font-size: 0.90rem !important;
}

/* Cuando el menú está cerrado (collapsed presente) */
.ac-header-button.collapsed .open-icon {
    display: flex !important;
    /* mostrar hamburguesa */
}

.ac-header-button.collapsed .close-icon {
    display: none !important;
    /* ocultar X */
}

/* Cuando el menú está abierto (collapsed ausente) */
.ac-header-button:not(.collapsed) .open-icon {
    display: none !important;
    /* ocultar hamburguesa */
}

.ac-header-button:not(.collapsed) .close-icon {
    display: flex !important;
    /* mostrar X */
}

.btn.btn-primary {
    background-color: var(--button-primary-bg);
}

.btn-primary.outline {
    background-color: transparent !important;
    border: 1px solid var(--button-primary-bg);
    color: var(--button-primary-bg)
}

.btn.btn-primary.btn-green {
    background-color: var(--button-primary-bg-green);
}

.btn.btn-primary.btn-white {
    background-color: var(--button-primary-bg-white);
    color: var(--purple-text-dark)
}

.py-25d {
    padding-block: 0.75rem;
}

.py-8d {
    padding-block: 0.8rem !important;
}

.ac-hero-indicators button {
    background-clip: border-box !important;
    box-sizing: border-box !important;
    height: 0.75rem !important;
    width: 2.2rem !important;
    /* ancho para los no activos */
}


.card-indicators button {
    background-clip: border-box !important;
    box-sizing: border-box !important;
    height: 0.5rem !important;
    width: 1.3rem !important;
}

.card-indicators button.active {
    width: 1.8rem !important;
}

.ac-hero-indicators button.active {
    width: 3rem !important;
    /* ancho para el activo */
}

.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

.ac-main {
    background-color: var(--bg-light-blue);
}

.w-80-max {
    max-width: 80%;
}

.ac-main input,
.ac-main label,
.ac-main .dropdown>button {
    color: var(--purple-text-color);
}

.ac-main .dropdown>button {
    padding-top: 1.7rem;
    border: 1px solid #B1B0B8 !important;
}

.ac-main .dropdown>button.show {
    border-color: #80bdff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

#otrosCriterios {
    color: var(--text-blue)
}

input,
select {
    border: 1px solid #B1B0B8 !important;
}

.ac-ofertas {
    background-image: url("../assets/banner.png");
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 220px;

}

.ac-ofertas button {
    min-width: 120px;
}

.ac-about h5 {
    color: var(--purple-text-dark2);
}

.ac-about span {
    color: var(--text-blue);
}

.ac-sections {
    background-color: var(--bg-light-blue) !important;
}

.ac-sections .accordion {
    border-width: 0px !important;
}

.ac-sections .accordion .accordion-header button {
    background-color: var(--bg-light-blue) !important;
    color: #052c66 !important;
}

.ac-sections .accordion-button:focus {
    box-shadow: none !important;
}

.room-card {
    max-width: 400px;
}

.room-card img {
    max-height: 250px;
}

.slider-controls button {
    border: 2px solid #1D1852 !important;
    border-radius: 50%;
    box-shadow: none !important;
    transition: all 0.2s ease-in-out;
}

.slider-controls button:active {
    transform: scale(0.85);
    transition: all 0.2s ease-in-out;
}


.custom-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #D1D5DB;
    border-radius: 50%;
    opacity: 1;
    transition: all 0.3s ease;
    cursor: pointer;
}

.custom-pagination .swiper-pagination-bullet-active {
    background: #1D1852;
    width: 24px;
    border-radius: 4px;
}

.custom-pagination .swiper-pagination-bullet:hover {
    background: #9CA3AF;
}

footer {
    background-color: var(--purple-text-dark);
}

footer .separator {
    height: 2px;
}

#accordionFooter .accordion-button {
    box-shadow: none !important;
}

.flex-05 {
    flex: 0.5 !important;
}


#accordionFooter button,
#accordionFooter button::after {
    color: #ffffff !important;
}

#accordionFooter .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'><path d='m2 5 6 6 6-6'/></svg>") !important;
}

#accordionFooter .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'><path d='m2 5 6 6 6-6'/></svg>") !important;
}

#accordionFooter .accordion-item {
    border-color: #161140 !important;
}

.b-blue {
    border-color: #3367EA !important;
}

.carousel-card .badge {
    bottom: 15px;
    left: 15px;

    color: #B1B2B3;
    background-color: rgba(19, 19, 20, 90) !important;
}

.room-badges span {
    background-color: #E1E3E6;
    color: #3D4891;
}

.badge.members {
    background-color: #3D4891;
}

.badge.public {
    background-color: #808080;
}

.price {
    color: #3D4891;
}